* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.window_for_card {
  display: inline-block;
}

button {
  padding: 35px 60px;
  font-size: 25px;
  background: white;
}

button:hover {
  background-color: rgba(158, 58, 58, 0.89);
}

button:hover + .hid {
  height: initial;
  transform: scale(1, 1);
}

.hid {
  height: 0;
  transform: scale(0, 0);
  transition: transform 700ms 0.5s;
}

.card {
  display: inline-block;
  position: relative;
  overflow: hidden;
  min-width: 400px;
  height: 200px;
  margin: 50px 50px;
  border-radius: 10px;
  transition-duration: 300ms;
}

.card1 {
  background: linear-gradient(to left, #fe8696, #fec09b);
}

.card2 {
  background: linear-gradient(to left, #1990e0, #8cc9f8);
}

.card3 {
  background: linear-gradient(to left, #09d0b9, #7dd9d2);
}

p {
  padding-left: 50px;
  font-family: "Times New Roman", Times, serif, sans-serif;
  color: #fdf9fa;
}

p:nth-child(1) {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500;
}

p:nth-child(2) {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}

p:nth-child(3) {
  padding-top: 5px;
  font-size: 17px;
  font-weight: 600;
}

.figure1::before {
  content: " ";
  min-width: 150px;
  min-height: 150px;
  position: absolute;
  left: 80%;
  bottom: 30%;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
}

.figure2::before {
  content: " ";
  min-width: 200px;
  min-height: 200px;
  position: absolute;
  top: 50%;
  left: 60%;
  background: white;
  border-radius: 50%;
  opacity: 0.2;
}

.svg_image {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 85%;
  bottom: 65%;
}

.chart {
  background-image: url(../images/chart.svg);
}

.bookmark {
  background-image: url(../images/bookmark.svg);
}

.diamond {
  background-image: url(../images/diamond.svg);
}
